{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}采购{% endblock %}

{% block page_content %}
    <br>
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/purchase">首页</a></li>
            <li class="active"><a href="/purchase/gonghuoshang">供货商</a></li>
            <li class="active"><a href="/purchase/gonghuoshang/allgoods">零件</a></li>
            <li class="active"><a href="/purchase/gonghuoshang/order">订购单</a></li>
            <li class="active"><a href="/rukuform">入库单</a></li>
        </ul>
        <div class="col-md-4">
            {% if msg %}
                <div class="alert alert-info" role="alert" style="align-content: center">{{ msg }}</div>{% endif %}
        </div>
    </div>

    <br>

    <div class="row">
        <table class="table table-hover">
        <caption>当日采购单</caption>
            <tr>
                <th>订单号</th>
                <th>商品</th>
                <th>单价</th>
                <th>数量</th>
                <th>折扣</th>
                <th>合计</th>
{#                <th>日期</th>#}
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                    <td>{{ result[2] }}</td>
                    <td>{{ result[3] }}</td>
                    <td>{{ result[4] }}</td>
                    <td>{{ result[5] }}</td>
{#                    <td>{{ result[6] }}</td>#}
                </tr>
            {% endfor %}

        </table>

    </div>
    <br>


 {% endblock %}