{% extends "bootstrap/base.html" %}

{% block head %}
    <title>naifan</title>
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- responsive-nav -->
    <link rel="stylesheet" href="/static/responsive-nav.css">
    <script src="/static/responsive-nav.js"></script>
{#    <script>#}
{#        var nav = responsiveNav(".nav-collapse");#}
{#    </script>#}

    <link rel="stylesheet" href="/static/index.css" type="text/css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
{% endblock %}


{% block navbar %}
    {% include "navigation.html" %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}