{% extends "base.html" %}

{% block content %}
    <img src="/static/imgs/index.png"  class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1" style="height: 26em">
    <div class="container"  >
        <div class="row">
            <div class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1">
                <div class="header">
                    <h2>奈凡</h2>
                    <span>为学日益，为道益损</span>
                </div>
                <hr>
                <p id="panel">嗨，我是奈凡，一名python web开发者。现在南京上学，就职于语真科技公司。正在修行，探求创意之源。</p>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}
