<nav class="navbar navbar-default" style="background-color: white; border-color: white">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Naifan</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/edit">编辑</a></li>
                <li><a href="/blog ">博客</a></li>
{#                <li><a href="/xuexi">学习</a></li>#}
{#                <li><a href="/share">分享</a></li>#}
                <li><a href="/message">给我留言</a></li>
                <li><a href="/home">回到主页</a> </li>
            </ul>
        </div>
    </div>
</nav>